@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: Fulbo;
    src: url("../fonts/Fulbo-Argenta.otf") format('opentype');
}
@font-face {
    font-family: Cunia;
    src: url("../fonts/Cunia.otf") format('opentype');
}


body {
    font-family: Fulbo;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #292929;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header h1 {
        font-family: Cunia;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.header h2 {
        font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f7f7f7;
}


.tweetCounter p {
    font-family: Cunia;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fdfdfd;
}

.followOnTwitter a {
        font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.75;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.followOnTwitter {
    border-radius: 27px;
    box-shadow: 0 0 82.7px 23.3px rgba(0, 0, 0, 0.2);
    border: solid 2px #3473eb;
    width: 304px;
    cursor: pointer;
    margin-top: 3%;
    margin-bottom: 20px;
}

.sendFileField {
    border-radius: 27px;
    box-shadow: 0 0 82.7px 23.3px rgba(0, 0, 0, 0.2);
    border: solid 4px #ffffff;
    background-color: #ffffff;
    margin-top: 1%;
    height: 50px;
    text-align: left;
    display: table;
    padding-right: 2px;
}

    .sendFileField span {
        display: table-cell;
        vertical-align: middle;
          font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.75;
        letter-spacing: normal;
        text-align: left;
        color: #444444;
    }

.sendFileBtn {
    border-radius: 28px;
    background-color: #444444;
    cursor: pointer;
}

    .sendFileBtn span {
            font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.75;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

.container hr {
    max-width: 48%;
    margin-left: 24%;
    border: solid 1px #444444;
    background-color: #2d2d2d;
    margin-top: 4%;
}

.chkDescription {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    left: 28%;
    width: 280px;
}

.submitBtn {
    border-radius: 27px;
    box-shadow: 0 0 82.7px 23.3px rgba(0, 0, 0, 0.2);
    left: 33%;
    text-align: center;
}

.disabled {
    cursor: no-drop;
    background-color: #c0c0c0;
}

.enabled {
    cursor: pointer;
    background-color: #66bb6a;
}

    .submitBtn span {
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.75;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

footer {
    position: fixed;
    Width: 100%;
    bottom: 0;
}

.tweetImage {
    width: 360px;
    height: 200px;
    border-radius: 10px;
}

#imageDiv {
    left: 23.5%;
}

#postDetailDiv {
    margin-bottom: 1%;
}

.tweetText {
    overflow: hidden;
    width: 390px;
    max-width: 390px;
    height: 180px;
    border-radius: 20px;
    box-shadow: 0 0 82.7px 23.3px rgba(0, 0, 0, 0.2);
    border: solid 2px #ffffff;
    background-color: #252525;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 15px;
    resize: none;
    outline: none;
}

    .tweetText::placeholder {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

.charsLasting {
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 6;
    letter-spacing: 0.75px;
    text-align: left;
    color: #ffffff;
    margin-top: -16px;
    left: 1%;
}

.fakeNewsURLField input {
    max-width: unset;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
     font-family: Roboto; 
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.75;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    border-radius: 90px;
    margin-bottom: 2%;
    outline: none;
}

.fakeNewsURLField {
    left: 23%;
    width: 54%;
}

/*
    Checkbox classes
*/
.round {
    position: relative;
    width: 90px;
    margin-bottom: -1.5%;
}

    .round label {
        background-color: #2d2d2d;
        border: 4px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        height: 41px;
        left: 0;
        position: absolute;
        top: 0;
        width: 41px;
    }

        .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 13px;
            left: 5px;
            opacity: 0;
            position: absolute;
            top: 7px;
            transform: rotate(-45deg);
            width: 21px;
        }

    .round input[type="checkbox"] {
        width: 0px;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: #66bb6a;
            border-color: #66bb6a;
        }

            .round input[type="checkbox"]:checked + label:after {
                opacity: 1;
            }
